.post {
    width: 100%;
    border-radius: 10px;
    background-color: #2b2b2b;
    -webkit-box-shadow: inset -1px 1px 3px 1px #39fad7, 1px 1px 3px 0px #53547a, 1px 1px 3px 1px rgba(0,0,0,0); 
    box-shadow: inset -1px 1px 3px 1px #39fad7, 1px 1px 3px 0px #53547a, 1px 1px 3px 1px rgba(0,0,0,0);
    margin: 30px auto;
    padding: 10px 0;
}
.postWrapper{
    padding: 10px;
    padding-left: 15px;
}
.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postTopLeft {
    display: flex;
    align-items: center;
    justify-content: center;
}
.postTopLeft a {
    display: flex;
    text-decoration: none;
    align-items: center;
    align-items: center;
}
.postProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.postUsername, .postLikeCounter {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}
.postDate {
    font-size: 12px !important;
    font-weight: 400 !important;
}
.postText {
    font-weight: 400 !important;
}
.postCenter {
    margin: 20px 0;
}
.postImg{
    margin-top: 10px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}
.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postBottomLeft {
    display: flex;
    align-items: center;
}
.likeIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
    fill: white !important;
}
.liked {
    fill: url('#my-gradient-red') red !important;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}
.postCommentText {
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    margin-right: 20px;
}