.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.messageTop {
    display: flex;
    align-items: baseline;
}
.messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.messageText {
    max-width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    background-color: #1b1b1b;
}
.messageBottom {
    font-size: 12px;
    margin-top: 10px;
}
.message.own {
    align-items: flex-end;
}
.message.own .messageTop {
    flex-direction: row-reverse;
}
.message.own .messageText { 
    background: linear-gradient(15deg, #13547a 0%, #39fad7 100%);
}
.message.own .messageImg {
    margin-left: 10px;
}