.share {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    background-color: #2b2b2b;
    -webkit-box-shadow: inset -1px 1px 8px 1px #39fad7, 2px 2px 6px 0px #53547a, 5px 5px 5px 1px rgba(0,0,0,0); 
    box-shadow: inset -1px 1px 8px 1px #39fad7, 2px 2px 6px 0px #53547a, 5px 5px 5px 1px rgba(0,0,0,0);
    align-items: center;
    margin: 15px auto;
}
.shareWrapper {
    padding: 15px;
    margin: 10px auto;
}
.shareTop {
    display: flex;
}
.shareProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.shareInput {
    border: none;
    width: 90%;
    outline: none;
    color:white;
    background-color: transparent;
}
.shareHr {
    margin: 20px 0;
}
.shareBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shareOptions {
    display: flex;
    margin-left: 20px;
}
.shareOption {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}
.shareIcon {
    font-size: 18px;
    margin-right: 3px;
    fill: url('#my-gradient-aqua') #39fad7 !important;
}
#tag {
    fill: url('#my-gradient-purple') #333399 !important;
}
#emoji {
    fill: url('#my-gradient-orange') orange !important;
}
#location {
    fill: url('#my-gradient-blue') #5B86E5 !important;
}
.shareButton {
    background: #44ea76;
	background-image: -moz-linear-gradient(left, #39fad7 0%,#13547a 80%,#13547a 100%);
	background-image: -webkit-linear-gradient(left, #39fad7 0%,#13547a 80%,#13547a 100%);
	background-image: linear-gradient(15deg, #39fad7 0%,#13547a 80%,#13547a 100%);
    border: none;
    border-radius: 500px;
    font-weight: 600;
    padding: 9px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}